body{
    background-color: 007ACC;
}

table{
    background-color: white;
    margin: auto;
}

.Formulario{
    background-color: white;
    margin: auto;   
}

#Nombre{
    background-color: beige;
    width: 500px;
}

#Apellido{
    background-color: beige;
    width: 500px;
}

#Telefono{
    background-color: beige;
    width: 500px;
}

#Agregar{
    width: 500px;
}